input {
  margin-right: 50px;
}
body {
  margin: 0px;
}
#content {
  margin-top: 100px;
}
#title {
  text-align: center;
  background-color: #ffa552;
  color: white;
  padding: 30px 90px 30px 90px;
}
#form {
  margin: 70px auto 30px auto;
  width: 85%;
  padding: 30px 0 20px 60px;
  border: 0.5px solid #d5d5d5;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #d5d5d5;
  background-color: #f5f5f5;
}
.answer {
  display: inline;
}
.question {
  font-weight: bold;
}
#select_box {
  height: 45px;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 300px;
  margin-bottom: 100px;
  z-index: 500;
  width: 100%;
}
#information {
  height: 45px;
  display: flex;
  justify-content: center;
  top: 300px;
  margin-top: 50px;
  width: 100%;
  z-index: 1000;
}
.info {
  /* margin-left:100px; */
  text-align: center;
  margin: 0 5px 0 5px;
  width: 15%;
}
.info_value {
  padding: 4px;
  color: rgba(255, 255, 255, 0.9);
  height: 35px;
  border-radius: 10px;
  background-color: #FFA552;
}
.select {
  background-color: #fd800d;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #bfbfbf;
  color: white;
  padding: 10px;
  margin-left: 100px;
}
.select_input {
  background-color: transparent;
  border: transparent;
  color: white;
  width: 170px;
  padding: 5px;
  text-align: center;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
}
.sub_title {
  margin-right: 10px;
  font-weight: bold;
}

/* CSS for submit button */
#submit_bnt {
  background-color: #fd800d;
  height: 48px;
  border-radius: 15px;
  border-color: #FFA552;
  width: 130px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 5px 5px 3px #bfbfbf;
}

#submit_bnt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#submit_bnt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#submit_bnt:hover span {
  padding-right: 25px;
}

#submit_bnt:hover span:after {
  opacity: 1;
  right: 0;
}

