body{margin: 0;}

h1{
    text-align: center;
    margin-bottom: 50px;
}

#content{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectInput{
    background-color: #fd800d;
    height: 42px;
    border-radius: 15px;
    border-color: #FFA552;
    width: 295px;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 5px 5px 3px #bfbfbf;
    margin-bottom: 20px;
}

.selectBox {
    margin: 5px 12px;
}

.dropdownList{
    display: flex;
    flex-direction: row;
}

button{
    margin: 20px 12px 50px 12px;
    background-color: #FFA552;
    height: 42px;
    border-radius: 15px;
    border: 1px solid #FD800D;
    width: 127px;
    color: #ffffff;
    font-weight: bolder;
    box-shadow: 5px 5px 3px #bfbfbf;
}

button:hover {
    background-color: #FD800D;
}

#button{
    display: flex;
    flex-direction: row;
}
