<div class="header">
  <a href="/webserver"
    ><img
      src="/webserver/res/img/newVGUlogo.PNG"
      alt="VGU logo"
      width="180px"
      style="margin: 0px 0 0 20px;"
  /></a>
  <div class="link_container">
      <a class="header_link" href="/webserver/pages/db/database.html">Database</a>
      <a class="header_link" href="/webserver/pages/questionaire/questionnaire.html">Questionaire</a>
      <a class="header_link fill_question_btn" href="/webserver/pages/chart/chart_nhu.html">Analysis</a>
  </div>
</div>
